In [3]:
import sqlite3

dbase = sqlite3.connect('Akinroye.db') # Open a database File

In [4]:
dbase.execute(''' CREATE TABLE IF NOT EXISTS employee_records(
    ID INT PRIMARY KEY NOT NULL,
    NAME TEXT NOT NULL,
    DIVISION TEXT NOT NULL,
    STARS INT NOT NULL) ''')

In [6]:
sql_query = dbase.execute(''' INSERT INTO employee_records(ID,NAME,DIVISION,STARS)
        VALUES(5,'James','Maintenance',4)
''')

IntegrityError: UNIQUE constraint failed: employee_records.ID