In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
dataset = pd.read_csv('electronics.csv')
dataset.head()

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,NaN,1999,NaN,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,NaN,1999,NaN,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,NaN,1999,NaN,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,NaN,1999,NaN,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,NaN,1999,NaN,0

In [3]:
# list of last five rows

In [4]:
# shape

In [5]:
# It is also a good practice to know the columns and their corresponding data types
# along with finding whether they contain null values or not.

In [6]:
# We can also see that the column Product ID is of object data type, but it is actually a string.

# We can convert it to a string using the following code:

In [7]:
# We can also see that the column Category is of object data type, but it is actually a string.

# We can convert it to a string using the following code:

In [8]:
# We can also see that the column Timestamp is of int64 data type, but it is actually a timestamp.

# We can convert it to a timestamp using the following code:

In [9]:
# We can also see that the column Rating is of int64 data type, but it is actually a float.

# We can convert it to a float using the following code:

In [10]:
# We can also see that the column User ID is of int64 data type, but it is actually a string.

# We can convert it to a string using the following code:

In [11]:
# We can also see that the column Product ID is of object data type, but it is actually a string.

# We can convert it to a string using the following code:

In [12]:
# to get a better understanding of the dataset,

# we can also see the statistical summary of the dataset.

In [13]:
# We can also see the number of unique users and items in the dataset.

In [14]:
# check for duplicates

In [15]:
# check for missing values

In [16]:
# the distribution of ratings

In [17]:
# most of the ratings are 5

In [18]:
# what was the best year of sales

In [19]:
# 2015 was the best year of sales

In [20]:
# what was the best month of sales

In [21]:
# January was the best month of sales

In [22]:
# drop all null values



# check for missing values