In [1]:
pip install -U pandasql

Requirement already satisfied: pandasql in c:\users\mac\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\mac\anaconda3\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: sqlalchemy in c:\users\mac\anaconda3\lib\site-packages (from pandasql) (1.4.39)
Requirement already satisfied: pandas in c:\users\mac\anaconda3\lib\site-packages (from pandasql) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\mac\anaconda3\lib\site-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\mac\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mac\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\mac\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Create a SQLite Database

In [4]:
%sql sqlite://contactInfo.db3

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Invalid SQLite URL: sqlite://contactInfo.db3
Valid SQLite URL forms are:
 sqlite:///:memory: (or, sqlite://)
 sqlite:///relative/path/to/file.db
 sqlite:////absolute/path/to/file.db
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### ### Create a table

In [5]:
%%sql sqlite://
CREATE TABLE contactInfo(
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,  
    USERID int  NOT NULL UNIQUE, 
    PRIMARY KEY (USERID)
);

Done.

[]

#### Add data to the table

In [6]:
%%sql sqlite://
INSERT INTO contactInfo VALUES ('Akinroye', 'Muideen', 8134324983);
INSERT INTO contactInfo VALUES ('Akinroye', 'Azeez', 7063684912);
INSERT INTO contactInfo VALUES ('Olanipekun', 'Abigeal', 8063362208);
INSERT INTO contactInfo VALUES ('Abiola', 'Olayanju', 7056434242);
INSERT INTO contactInfo VALUES ('Emannuel', 'Clement', 9078474743);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

#### Write the First Query

In [7]:
sql_query = %sql SELECT * from contactInfo

 * sqlite://
Done.

In [8]:
sql_query

[('Akinroye', 'Muideen', 8134324983),
 ('Akinroye', 'Azeez', 7063684912),
 ('Olanipekun', 'Abigeal', 8063362208),
 ('Abiola', 'Olayanju', 7056434242),
 ('Emannuel', 'Clement', 9078474743)]

In [9]:
sql_query = %sql SELECT FirstName, LastName from contactInfo

 * sqlite://
Done.

In [10]:
sql_query

[('Akinroye', 'Muideen'),
 ('Akinroye', 'Azeez'),
 ('Olanipekun', 'Abigeal'),
 ('Abiola', 'Olayanju'),
 ('Emannuel', 'Clement')]